<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <form [formGroup]="sample">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Input" [required]="false" formControlName="id">

      </mat-form-field>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Input" [required]="false" formControlName="password">

      </mat-form-field><button mat-button (click)="onClick()">Button</button>
    </div>
  </form>
</div>